html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-family: 'Fjalla One', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  h1 {
    font-size: 32px;
    font-weight: 700;
  }
  
  h2{
    font-size: 24px;
    font-weight: 600;
  
  }
  
  h3{
    font-size: 16px;
    font-weight: 500;
  }

  p{
      font-size: 14px;
      font-weight: 300;
  }

  p, h3{
    margin-bottom: 2vh;
    }

body {
    color: #1F1F1F;
    background-image: url("body-pattern.jpeg");
    background-position: center;
    background-repeat: repeat;
}



header{
    background-image: url("header.png");
    background-position: bottom;
    background-repeat: no-repeat;
    left:0;
    top:0;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: flex-start;
}

header h1{
    background: rgba(247, 235, 235, 0.2);
    min-height: 20%;
    min-width: 36vh;
    padding: 1vh;
    display: flex;
    align-self: center;
    justify-content: flex-end;
}

.mainContent{
    padding: 5vh;
}

.column-1, .column-2, nav, footer{
    background: #FFFFFF;
}

.column-1, .column-2{
    padding: 8vh 5vh 1vh 5vh;
    border-top: 5px solid #FF9933;
    margin: 1% 1% 1% 1%;

}

.catchyPhrase{
    margin: 2vh 1vh 1vh 2vh;
    font-size: 11px;
    font-style: italic;
}

nav{
    justify-content: center;
    margin: 0 0 0 0;
}

nav a{
    min-width: 10%;
    padding: 1vh;
    text-decoration: none;
    color: #1F1F1F;
    display: flex;
    justify-content: center;
}

nav a:hover{
   background: #cdc9c5; 
}

#currentPage{
    background: #cdc9c5; 
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5vh;
  }

.img__wrapper {
display: flex;
max-width: 200px;
height: auto;

}

.text__wrapper {
display: flex;
flex-direction: column;
width: 200px;
padding: 12px;
height: auto;

}

aside img{
    width: 100%;
    margin-bottom: 0.5vh;
}

aside:not(:last-child){
    margin-bottom: 0;
}

.card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.16);
    margin: 32px;
    border-radius: 12px;
    height: auto;
  }

footer{
    display: flex;
    margin-top: 1.5vh;
    justify-content: center;
    align-content: center; 
}

footer p{
    font-size: 1.5vh;
    padding: 3vh;
}

ul li{
    list-style-type: none;
}
li{
    list-style-type:none;
}
li a{
    text-decoration: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
}

tr{
    width: 100%;
}

th, td {
    padding: 15px;
}

th {
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
}
table {
    border-spacing: 5px;
    width: 100%;
    height: auto;
}

fieldset{
    display: flex;
    width: 50%;
    background-color: #FFFFFF;
    border: 1px solid #FF9933;
}

label{
    width: 6em;
    float: left;
    text-align: right;
    margin-right: 10px;
}

.submit{
    margin-left: 6.5em;
}

legend{
    border: solid thin #053972;
    background-color: #fff;
    padding: 2px;
}

fieldset.radiogroup  { 
    margin: 0; 
    padding: 0; 
    margin-bottom: 1.25em; 
    padding: 0.125em; 
  } 
  
fieldset.radiogroup legend { 
margin: 0; 
padding: 0; 
font-weight: bold; 
margin-left: 20px; 
font-size: 100%; 
color: black; 
} 

ul.radio  { 
margin: 0; 
padding: 0; 
margin-left: 20px; 
list-style: none; 
} 

ul.radio li { 
border: 1px transparent solid; 
} 



@media(max-width: 530px){
    nav{
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    }

    .mainContent{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .column-1, .column-2{
        display:flex;
        flex-direction: column;
        margin: 1% 5% 1% 5%;
    }

   table, thead, tbody, tr, th, td{
       display: block;
   }
   thead tr{
       position: absolute;
       top: -9999px;
       left: -9999px;
   }

   tr{
       border: 1px solid #ccc;
   }

   td{
       border: none;
       border-bottom: 1px solid #eee;
       position: relative;
       padding-left: 50%;
   }

   td:before{
       position: absolute;
       top: 6px;
       left: 6px;
       width: 45%;
       padding-right: 10px;
       white-space: nowrap;
   }

   td:nth-of-type(1):before{content:"Förnamn";}
   td:nth-of-type(2):before{content:"Efternamn";}
   td:nth-of-type(3):before{content:"Bostadsadress";}
   td:nth-of-type(4):before{content:"Postnummer";}
   td:nth-of-type(5):before{content:"Postadress";}

   fieldset{
       width: 80%;
   }

   label{
       width: 100%;
       float: none;
       text-align: left;
       display: block;
   }

   .submit{
       margin-left: 0;
   }

   

}

@media(min-width: 481px) and (max-width: 1000px){

    nav{
        display: flex;
        flex-flow: row wrap;
    }

    .mainContent{
        display: flex;
        justify-content: center;
    }

    .column-1{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        flex: 2 0 0;
    }
    
    .column-2{
        display:flex;
        flex-direction: column;
        flex: 1 0 0;
    }

    #engPage{
        display:flex;
        flex-direction: column;
        flex: 1 0 0;
        order: -1;
        padding: 1vh;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      .sticky + .mainContent {
        padding-top: 60px;
      }

}

@media(min-width: 1001px){

    nav{
        display: flex;
        flex-flow: row wrap;
    }

    .mainContent{
        display: flex;
        justify-content: center;
    }

    .column-1{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        flex: 2 0 0;
        order: 1;
    }
    
    .column-2{
        display:flex;
        flex-direction: column;
        flex: 1 0 0;
        order: 2;
    }

    #engPage{
        display:flex;
        flex-direction: column;
        flex: 1 0 0;
        order: -1;
        padding: 1vh;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      .sticky + .mainContent {
        padding-top: 60px;
      }
    
}
